{% macro alert(message) %}
  <div class="alert alert-danger" role="alert">
      {{ message }}
  </div>
{% endmacro %}

<!DOCTYPE html>

<html>
<head>
  <title>Message Board</title>
	<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
	<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
	<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
  <script type="text/javascript" src="static/chosen/chosen.jquery.min.js"></script>
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='chosen/chosen.min.css') }}">
</head>

<body>
  <div>
  {% if error %}
    {{ alert(error) }}
  {% endif %}
   	<nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
     		<a class="navbar-brand" href="#">
      	 <img src="https://i.ya-webdesign.com/images/sprite-gif-png-12.gif" alt="Logo" style="width:40px;">
         <span>Plombus</span>
    		</a>
    		<ul class="navbar-nav">
      	<li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">{{g.user|title}} <span class="caret"></span></a>
          <ul class="dropdown-menu bg-dark" role="menu">
            <li><a class="dropdown-item bg-dark text-white" href="/profile">Profile</a></li>
            <li><a class="dropdown-item bg-dark text-white" href="/friends">Friends</a></li>
    		  </ul>
        </li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
        <form align="right" name="form1" method="post" action="/logout">
            <label class="logout_button">
              <input name="logout" type="submit" id="logout-button" value="Log out">
            </label>
        </form>
        </ul>
  	</nav>
  </div>

  <div class="sidenav fixed-side bg-dark">

    <a href="/">Home</a>

    <div class="posts-dropdown-container">
      <button class="dropdown-btn">Posts</button>
      <div class="dropdown-container">
        <a href="/newpost">New Post</a>
        <a href="/myposts">My Posts</a>
        <a href="/searchposts">Search Posts</a>
      </div>
    </div>


    <div class="boards-dropdown-container">
      <button class="dropdown-btn">Boards</button>
      <div class="dropdown-container">
        <a href="/boards">All Boards</a>
        <a href="/boards/newboard">New Board</a>
      </div>
    </div>

    <a href="/favourites">Favourites</a>
    <a href="/trending">Trending</a>
    <a href="/contact">Contact</a>

  </div>

  <div class="main">
    {% block content %}
    {% endblock %}
  </div>

</body>

<style type="text/css">

</style>


<script type="text/javascript">
  
for (let dropdown of $(".dropdown-btn")) {
  dropdown.addEventListener("click", function() {
    this.classList.toggle("active");
    let dropdownContent = this.nextElementSibling;
    $(dropdownContent).toggle();
  });
} 

</script>

</html>