{% extends "base.html" %}

{% block content %}

<h2>{{board.board_id}} Board</h2>
<h6>{{board.summary}}</h6>

{% for post in posts %}
	<div class="card">
		<a class="card-title left" href="/post/{{post.post_id}}">{{post.title}}<span class="card-date right">{{post.created}}</span></a>
	</div>
{% endfor %}

{% endblock %}