{% extends "base.html" %}

{% block content %}

<h2>Boards Page</h2>

<div class="chosen-board-container">
	<select class="chosen-board" id="board-select" name="board-select">
        {% for board in boardList %}
          <option value="{{board}}">{{board}}</option>
        {% endfor %}
    </select>
</div>

{% for board in boards %}
	<div class="card">
		<a class="card-title" href="/boards/{{board.board_id}}">{{board.board_id}}</a>
	</div>
{% endfor %}


<script type="text/javascript">
  $(function() {
    $(".chosen-board").chosen();
  });
</script>


{% endblock %}