{% extends "base.html" %}

{% block content %}
<h2>News</h2>
<p>- Submit posts working</p>
<p>- Update posts working</p>
<p>- Drop down profile added</p>

<h2>My Recent Posts</h2>
{% for post in posts %}
	<div class="card">
		<a class="card-title left" href="/post/{{post.post_id}}">{{post.title}}<span class="card-date right">{{post.created}}</span></a>
	</div>
{% endfor %}
{% endblock %}