{% extends "base.html" %}

{% block content %}

<h2>New Board</h2>

<form action="/boards/newboard" method="post">
  	<div class="form-group">
    	<label for="title">Board Title</label>
    	<textarea name="board-title" class="form-control" id="board-title" placeholder="Board Title"></textarea>
  	</div>
  	<div class="form-group">
    	<label for="summary">Summary</label>
    	<textarea name="board-summary" class="form-control" id="board-summary" placeholder="Board Summary"></textarea>
  	</div>
	<div class="submit-post">
		<input type="submit" value="Submit">
	</div>
</form>

{% endblock %}