{% extends "base.html" %}

{% block content %}


<h4>{{post.title}}</h4>

<p>{{post.body}}</p>

<h6>Posted on {{post.created}} to {{post.board_id}}</h6>

<h4>Comments</h4>

<div class="form-container">
	<form action="/post/{{post.post_id}}" method="post">
	  	<div class="form-group form-container">
	    	<textarea name="new-comment" class="form-control" id="new-comment" placeholder="New Comment"></textarea>
	    </div>
	    <div class="form-group">
	    {% if g.id == post.person_id %}
			<a class="submit-line edit-post" href="/post/edit/{{post.post_id}}">Edit Post</a>
		{% endif %}
		</div>
		<div class="form-group submit-line">
			<input type="submit" value="Submit">
		</div>
	</form>
</div>

<table class="table table-dark">
	<tr>
		<th style="width: 5%">User</th>
		<th style="word-wrap: break-word;min-width: 50%;max-width: 50%";>Comment</th>
		<th style="width: 5%">Created</th>
	</tr>
	<tbody>
		{% for comment in comments %}
			<tr>
				<td class="word-wrap">{{comment.username}}</td>
				<td class="word-wrap">{{comment.body}}</td>
				<td class="word-wrap">{{comment.created}}</td>
			</tr>
		{% endfor %}
	</tbody>
</table>

{% endblock %}