<!DOCTYPE html>

<html>
<head>
    <title>Sign up</title>
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
	<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
	<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
</head>

<body>
	<!--- error variable passed through from app.py --->
	{% if error %}
		<div class="alert alert-danger" role="alert">
  			{{ error }}
		</div>
	{% endif %}
	<!--- sign up form --->
	<div class="container h-100">
		<div class="d-flex justify-content-center h-100">
			<div class="user_card">
				<div class="d-flex justify-content-center">
					<div class="brand_logo_container">
						<img src="https://i.pinimg.com/originals/84/bf/b6/84bfb60c2cf96d89eec8b6c5590b0d9a.gif" class="brand_logo" alt="Logo">
					</div>
				</div>
				<div class="d-flex justify-content-center form_container">
					<form action="/signup" method="post">
						<div class="input-group mb-3">
							<div class="input-group-append">
								<span class="input-group-text"><i class="fas fa-user"></i></span>
							</div>
							<input type="text" name="user" class="form-control input_user" value="" id="username-input" placeholder="Username">
						</div>
						<div class="input-group mb-2">
							<div class="input-group-append">
								<span class="input-group-text"><i class="fas fa-key"></i></span>
							</div>
							<input type="password" name="password" class="form-control input_pass" id="password-input" value="" placeholder="Password">
						</div>
						<div class="input-group mb-1">
							<div class="input-group-append">
								<span class="input-group-text"><i class="fas fa-user"></i></span>
							</div>
							<input type="text" name="email" class="form-control input_user" id="email-input" value="" placeholder="Email">
						</div>
						<div class="d-flex justify-content-center mt-3 login_container">
							<input type="submit" value="Sign up">
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>

</body>

<style type="text/css">

</style>

<script>

</script>

</html>